/* Buttons */
.button {
  font-weight: var(--font-weight--bold, 700);
  font-size: var(--font-size-normal, 1rem);
  padding: 0.8125rem 1.4375rem;
  border-radius: var(--radius, 12px);
  background: var(--orange, #f57f51);
  color: var(--white, #ffffff);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  display: inline-block;
}
.button:hover {
  background: var(--orange, #e97818);
  transform: translateY(-2px);
}
.button:active {
  transform: translateY(0);
}
.button:focus {
  outline: none;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.28);
}
.button--with-arrow {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-xsmall, 0.5rem);
}
.button--with-arrow::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 14px;
  margin-top: 3px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M10.4474 11.9986C10.999 12.0276 11.4696 11.6041 11.4986 11.0526L11.9716 2.065C12.0007 1.51348 11.5771 1.04285 11.0256 1.01382C10.4741 0.984794 10.0034 1.40836 9.97441 1.95988L9.55394 9.94882L1.565 9.52835C1.01348 9.49932 0.542849 9.92289 0.513822 10.4744C0.484794 11.0259 0.908359 11.4966 1.45988 11.5256L10.4474 11.9986ZM0.756706 1.66896L9.75671 11.669L11.2433 10.331L2.24329 0.331035L0.756706 1.66896Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  transition: transform 0.3s ease;
}
.button--with-arrow:hover::after {
  transform: translate(2px, 2px);
}

.navbar {
  display: flex;
  padding: 1.09375rem 1rem;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
}
.page__section {
  padding: var(--section-padding, 2.5rem 2.25rem 4rem 2.25rem);
  margin: 0 auto;
  max-width: 1156px;
}

/* might not use */
.background {
  background: linear-gradient(
    135deg,
    hsl(0deg 0% 23%) 0%,
    hsl(344deg 0% 22%) 14%,
    hsl(344deg 0% 20%) 24%,
    hsl(344deg 0% 19%) 31%,
    hsl(344deg 0% 17%) 38%,
    hsl(344deg 0% 16%) 46%,
    hsl(344deg 0% 14%) 55%,
    hsl(344deg 0% 13%) 66%,
    hsl(344deg 0% 11%) 81%,
    hsl(0deg 0% 10%) 100%
  );
}

.image{
  width: 100%;
  height: 100%;
  border-radius: var(--radius, 12px);
  object-fit: cover;
  object-position: center;
}
#back-to-top{
  z-index: 20;
}