@layer reset, init, typography, components, content, animations, hamburger;

@import url(normalize.css) layer(reset);
@import url(/node_modules/accordion-js/dist/accordion.min.css) layer(reset);
/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap")
layer(reset); */

@import url(style.css) layer(content);

@import url(components.css) layer(components);
@import url(gallery.css) layer(components);
@import url(accordion.css) layer(components);

@import url(typography.css) layer(typography);
@import url(animations.css) layer(animations);
@import url(hamburger.css) layer(hamburger);

@layer reset {
  :root {
    /* Barvy: */
    --orange: #e97818;
    --white: #ffffff;
    --black: #000000;
    --gray: #bcbcbc;
    --main-gradient: linear-gradient(
      135deg,
      hsl(0deg 0% 23%) 0%,
      hsl(344deg 0% 22%) 14%,
      hsl(344deg 0% 20%) 24%,
      hsl(344deg 0% 19%) 31%,
      hsl(344deg 0% 17%) 38%,
      hsl(344deg 0% 16%) 46%,
      hsl(344deg 0% 14%) 55%,
      hsl(344deg 0% 13%) 66%,
      hsl(344deg 0% 11%) 81%,
      hsl(0deg 0% 10%) 100%
    );

    /* Mezery */
    --section-padding: 2.5rem 2.25rem 4rem 2.25rem;
    --tech-card-padding: 1.06rem 1.31rem;
    --section-maxwidth: 1280px;
    --gap-xxlarge: 4rem;
    --gap-xlarge: 3rem;
    --gap-slarge: 2.25rem;
    --gap-large: 2rem;
    --gap-medium: 1.55rem;
    --gap-normal: 1rem;
    --gap-small: 0.75rem;
    --gap-xsmall: 0.5rem;

    /* Typografie */
    --font-size--large: 2.5rem;
    --font-size--xxmedium: 2.25rem;
    --font-size--xmedium: 2rem;
    --font-size--mediumx: 1.5rem;
    --font-size--medium: 1.25rem;
    --font-size--normal: 1rem;
    --font-size--small: 0.75rem;
    --font-weight--xbold: 800;
    --font-weight--bold: 700;
    --font-weight--medium: 600;
    --font-weight--semibold: 500;
    --font-weight--normal: 400;
    --font-weight--light: 300;
    --radius: 12px;
  }

  html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: var(--white, #fff);
    scroll-behavior: smooth;
    overscroll-behavior: none;
    /* overflow-x: hidden; */
    overflow-y: scroll;
  }
  /* *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
    font-weight: var(--font-weight--normal, 400);
  }
  body {
    background: linear-gradient(
      135deg,
      hsl(0deg 0% 23%) 0%,
      hsl(344deg 0% 22%) 14%,
      hsl(344deg 0% 20%) 24%,
      hsl(344deg 0% 19%) 31%,
      hsl(344deg 0% 17%) 38%,
      hsl(344deg 0% 16%) 46%,
      hsl(344deg 0% 14%) 55%,
      hsl(344deg 0% 13%) 66%,
      hsl(344deg 0% 11%) 81%,
      hsl(0deg 0% 10%) 100%
    );
    background-repeat: no-repeat;
    min-height: 100vh;
    min-height: 100svh;
    /* overflow-x: hidden; */
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    /* working or not? */
    /* contain: paint; */
  }
}
@layer init {
  .image-responsive {
    width: 100%;
    height: auto;
  }
  .image-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

}
