@layer reset, init, components, content, animations, hamburger;

@import url(normalize.css) layer(reset);
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap")
layer(reset);

@import url(style.css) layer(content);

@import url(animations.css) layer(animations);
@import url(components.css) layer(components);
@import url(hamburger.css) layer(hamburger);

@layer reset {
  :root {
    --orange: #e97818;
    --white: #ffffff;
    --gray: #bcbcbc;
    --main-gradient: linear-gradient(
      135deg,
      hsl(0deg 0% 23%) 0%,
      hsl(344deg 0% 22%) 14%,
      hsl(344deg 0% 20%) 24%,
      hsl(344deg 0% 19%) 31%,
      hsl(344deg 0% 17%) 38%,
      hsl(344deg 0% 16%) 46%,
      hsl(344deg 0% 14%) 55%,
      hsl(344deg 0% 13%) 66%,
      hsl(344deg 0% 11%) 81%,
      hsl(0deg 0% 10%) 100%
    );
  }
  *,
  *::before,
  *::after,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: var(--white, #fff);
    scroll-behavior: smooth;
    overscroll-behavior: none;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  body {
    background: linear-gradient(
      135deg,
      hsl(0deg 0% 23%) 0%,
      hsl(344deg 0% 22%) 14%,
      hsl(344deg 0% 20%) 24%,
      hsl(344deg 0% 19%) 31%,
      hsl(344deg 0% 17%) 38%,
      hsl(344deg 0% 16%) 46%,
      hsl(344deg 0% 14%) 55%,
      hsl(344deg 0% 13%) 66%,
      hsl(344deg 0% 11%) 81%,
      hsl(0deg 0% 10%) 100%
    );
    background-repeat: no-repeat;
    min-height: 100vh;
    min-height: 100svh;
    overflow-x: hidden;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    /* working or not? */
  }
}
@layer init {
  .image-responsive {
    width: 100%;
    height: auto;
  }
}
