/* Hero */
.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--gap-large, 2rem);
}
.hero__text {
  max-width: 270px;
}
.hero__grid {
  display: grid;
  min-height: 400px;
  /* max-width: 350px; */
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}
.image--hero {
  border-radius: 12px;
  object-fit: cover;
  object-position: 60% center;
  height: 100%;
  width: 100%;
}
.hero__grid picture:nth-child(1) {
  grid-column: 1 / 6;
  grid-row: 1 / 8;
}
.hero__grid picture:nth-child(2) {
  grid-column: 5 / 10;
  grid-row: 3 / 10;
}

/* About */

.about {
  padding-bottom: 16rem;
  margin-bottom: -14rem;
}
.background--about {
  background: linear-gradient(
      135deg,
      hsla(0, 0%, 23%, 0.99) 0%,
      hsla(344, 0%, 22%, 0.98) 14%,
      hsla(344, 0%, 20%, 0.97) 24%,
      hsla(344, 0%, 19%, 0.96) 31%,
      hsla(344, 0%, 17%, 0.95) 38%,
      hsla(344, 0%, 16%, 0.94) 46%,
      hsla(344, 0%, 14%, 0.93) 55%,
      hsla(344, 0%, 13%, 0.92) 66%,
      hsla(344, 0%, 11%, 0.91) 81%,
      hsla(0, 0%, 10%, 0.9) 100%
    ),
    url("/images/main/about-background.webp"),
    url("/images/back/about-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 1px solid #fff;
}
.about__image {
  display: block;
  width: 80%;
  margin: 0 auto;
}

/* Why us */
.why-us {
  gap: var(--gap-xlarge, 3rem);
}
.why-us::before {
  content: "";
  height: 200px;
  position: relative;
  left: -25%;
  top: 100px;
  z-index: 10;
  display: block;
  margin: 0 auto;
  width: 150%;
  background-color: var(--orange, #e97818);
  transform: rotate(-4.276deg);
}
.why-us::after {
  content: "";
  height: 200px;
  position: relative;
  left: -25%;
  top: -120px;
  z-index: 10;
  display: block;
  margin: 0 auto;
  width: 150%;
  background-color: var(--orange, #e97818);
  transform: rotate(-4.276deg);
}
.why-us__heading {
  font-size: var(--font-size--xmedium, 2rem);
  font-weight: var(--font-weight--medium, 600);
  color: var(--white, #fff);
  text-align: center;
  max-width: 310px;
  margin: 0 auto;
}
.why-us__content {
  max-width: none;
  background-color: var(--orange, #e97818);
  z-index: 200;
  position: relative;
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xlarge, 3rem);
  padding-block: 0;
}
.why-us__item-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large, 2rem);
  align-content: center;
  max-width: 400px;
  /* margin: 0 auto; */
}
.why-us__item {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-medium, 1.55rem);
}
.why-us__label {
  text-align: right;
  max-width: 171px;
  display: flex;
  /* flex-shrink: 0; */
}
.why-us__value {
  font-size: var(--font-size--xxmedium, 2.25rem);
  font-weight: var(--font-weight--medium, 600);
  flex-shrink: 0;
}
.why-us__value--smaller {
  font-size: var(--font-size--medium, 1.25rem);
}
.why-us__value--plus {
  position: relative;
}
.why-us__value--plus::after {
  content: "+";
  position: absolute;
  font-size: 16px;
  background-color: #52d74b;
  border: 1px rgba(0, 0, 0, 0.62) solid;
  right: -9px;
  padding-inline: 4px;
  border-radius: 100px;
  top: -1px;
}

/* Technologies */
.background--technologies {
  background: none;
  background-color: #3a3939;
  margin-top: -170px;
}
.technologies {
  padding-top: 150px;
}
.technologies__card-wrapper {
  margin-top: var(--gap-slarge, 2.25rem);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-medium, 1.55rem);
}
.technologies__card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xsmall, 0.5rem);
  padding: var(--tech-card-padding, 1.06rem 1.31rem);
  border-radius: var(--radius, 12px);
  flex-grow: 1;
  background: #525252;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.28);
}
.technologies__card-header {
  display: flex;
  align-items: center;
  gap: var(--gap-xsmall, 0.5rem);
}
.technologies__card-text {
  opacity: 0.85;
}

/* Projects */
.projects {
  border-top: 1px solid #fff;
}
.projects__card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-medium, 1.55rem);
  margin-top: var(--gap-slarge, 2.25rem);
}
.projects__card-link {
  text-decoration: none;
  color: var(--white, #fff);
}
.projects__card {
  display: flex;
  flex-grow: 1;
  height: 465px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 12.5px;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgb(120, 120, 120);
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.28);

  background-position: center; /* Center the image */
  background-size: cover; /* Maintain aspect ratio and show more of the image */
  background-repeat: no-repeat;
  background-blend-mode: multiply;

  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.projects__card:hover {
  transform: scale(1.05);
  background-color: rgb(132, 132, 132);
}
#pc-1 {
  background-image: url("/images/main/strojeZarizeni.webp"),
    url("/images/back/strojeZarizeni.jpg");
}
#pc-2 {
  background-image: url("/images/main/hero-schody.webp"),
    url("/images/back/hero-schody.jpg");
}
#pc-3 {
  background-image: url("/images/main/plot.webp"), url("/images/back/plot.jpg");
}
#pc-4 {
  background-image: url("/images/main/pergola.webp"),
    url("/images/back/pergola.jpg");
}
.projects__card-title {
  font-size: var(--font-size--medium, 1.25rem);
  font-weight: var(--font-weight--xbold, 800);
  color: var(--orange, #e97818);
}
.projects__card-title::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 14px;
  margin-left: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M10.4474 11.9986C10.999 12.0276 11.4696 11.6041 11.4986 11.0526L11.9716 2.065C12.0007 1.51348 11.5771 1.04285 11.0256 1.01382C10.4741 0.984794 10.0034 1.40836 9.97441 1.95988L9.55394 9.94882L1.565 9.52835C1.01348 9.49932 0.542849 9.92289 0.513822 10.4744C0.484794 11.0259 0.908359 11.4966 1.45988 11.5256L10.4474 11.9986ZM0.756706 1.66896L9.75671 11.669L11.2433 10.331L2.24329 0.331035L0.756706 1.66896Z' fill='%23F57F51'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.projects__card-text {
  text-align: center;
  /* margin-bottom: 50px;
  padding-inline: 10px; */
  padding: 0 10px 50px 10px;
}
