/* Hero */
.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--gap-large, 2rem);
}
.hero__text {
  max-width: 270px;
}
.hero__grid {
  display: grid;
  min-height: 400px;
  /* max-width: 350px; */
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}
.hero__image {
  border-radius: 12px;
  object-fit: cover;
  object-position: 60% center;
  height: 100%;
  width: 100%;
}
.hero__grid picture:nth-child(1) {
  grid-column: 1 / 6;
  grid-row: 1 / 8;
}
.hero__grid picture:nth-child(2) {
  grid-column: 5 / 10;
  grid-row: 3 / 10;
}

/* About */

.background--about {
  background: linear-gradient(
      135deg,
      hsla(0, 0%, 23%, 0.98) 0%,
      hsla(344, 0%, 22%, 0.96) 14%,
      hsla(344, 0%, 20%, 0.94) 24%,
      hsla(344, 0%, 19%, 0.92) 31%,
      hsla(344, 0%, 17%, 0.9) 38%,
      hsla(344, 0%, 16%, 0.88) 46%,
      hsla(344, 0%, 14%, 0.86) 55%,
      hsla(344, 0%, 13%, 0.84) 66%,
      hsla(344, 0%, 11%, 0.82) 81%,
      hsla(0, 0%, 10%, 0.8) 100%
    ),
    url("/images/main/about-background.webp"),
    url("/images/back/about-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 1px solid #fff;
}
