.section__heading{
  font-size: var(--font-size--large, 2.5rem);
  font-weight: var(--font-weight--medium, 600);
}
.article__heading{
    font-size: var(--font-size-medium, 1.25rem);
}
.text--gray{
    color: var(--gray, #bcbcbc);
}
.text--orange{
    color: var(--orange, #e97818);
}
.text--medium{
    font-weight: 600;
}
.text--bold{
    font-weight: 700;
}
